<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">よくあるご質問</h2>
      <div class="contents pb-3" id="faq_block">
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <% @questions.each_with_index do |question, i|%>
            <div class="card my-5">
              <div class="card-header bg-blue" role="tab" id="heading<%= i %>">
                <h5 class="mb-0">
                  <a class="text-body d-block p-3 m-n3" data-toggle="collapse" href="#collapse<%= i %>" role="button" aria-expanded="true" aria-controls="collapse<%= i %>">
                    Q.<%= question.user_question %>
                  </a>
                  <% if admin_signed_in? %>
                   <span class="float-right">
                    <%= link_to edit_question_path(question.id), class: "btn btn-lg btn-primary px-4" do %>
                      <i class="fas fa-pen"></i>　編集
                    <% end %>
                    <%= link_to question_path(question.id, permission: true), delete: "question", method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-lg px-4 btn-primary" do %>
                      <i class="fas fa-trash"></i>　削除
                    <% end %>
                    </span>
                  <% end %>
                </h5>
              </div><!-- /.card-header -->
              <div id="collapse<%= i %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= i %>" data-parent="#accordion">
                <div class="card-body">
                  A.<%= question.answer %>
                </div><!-- /.card-body -->
              </div><!-- /.collapse -->
            </div><!-- /.card -->
          <% end %>
        </div><!-- /.accordion -->
      </div>
  </div>
  <% if current_admin %>
    <div class="hidden_box mb-4">
      <label for="label1" class="btn btn-primary btn-lg px-5 cursor-button mx-3">
        <i class="fas fa-plus-circle"></i>　Q&Aを追加
      </label>
      <input type="checkbox" id="label1" style="display: none;"/>
        <div class="hidden_show">
          <!--非表示ここから-->
          <div class="contents">
            <div class="form">
              <dl>
                <%= form_with(model: @question, url: questions_path ,local: true) do |f| %>
                  <dt class="form-title">質問文</dt>
                  <dd class="form-item"><%= f.text_field :user_question, required: "required", maxlength: 100, class: "col-10" %></dd>
                  <dt class="form-title">答え</dt>
                  <dd class="form-item"><%= f.text_area :answer, required: "required", maxlength: 200 %></dd>
                  <%= f.submit "追加する", class: "btn btn-info btn-lg offset-5 px-5" %>
                <% end %>
              </dl>
            </div>
            <!--ここまで-->
          </div>
        </div>
    </div>
  <% end %>
</div>