<div class="main">
  <div class="block">
      <h2  class="bg_sunflower">メニューの追加</h2>
    <div class="contents">
  <%= form_with(model: @menu,local: true) do |f| %>
      <div class="form">
        <h4>メニュー名</h4>
        <%= f.text_field :menu_title %>
      </div>
      <div class="form">
        <h4>画像</h4>
        <%= f.attachment_field :menu_image %>
      </div>
      <div class="form">
        <h4>紹介文</h4>
        <%= f.text_area :introduce %>

        <%= hidden_field_tag :permission, true %>


      </div>
        <%#= f.hidden_field :menu_id, value: false%>
        <%= f.submit "追加する" %>
    <% end %>
     </div> 
 </div>
</div>