<div class="alert alert-success"><%= flash[:notice] %></div>
<div class="alert alert-danger"><%= flash[:danger] %></div>

<h2>メニュー・コース一覧</h2>
<% @menus.each do |menu|%>
	<%= attachment_image_tag menu, :menu_image,  format: 'jpeg', fallback: "/images/no_image.jpg", size: "50x50" %>
	<%= menu.menu_title %></br>
	<%= menu.introduce %></br>

	<% menu.courses.each do |course| %>
		<%= course.course_name %></br>
		<%= course.course_time %>分
		<%= course.price %>円</br>
	<% end %>

	<h4>【コースの追加】</h4>
	<%= form_with(model: @menu, url: menus_path, method: :post ,local: true) do |f| %>
      <div class="form">
      	<%#= f.hidden_field :menu_id, :value => menu.id %>
      	<%= f.hidden_field :menu_id, value: menu.id %>
      	コース名：<%= f.text_field :course_name %></br>
        <%= f.select :course_time, [["15", 15],["30", 30], ["45", 45], ["60", 60], ["75", 75], ["90", 90], ["105", 105], ["120", 120], ["135", 135], ["150", 150], ["165", 165], ["180", 180]]  %>分</br>
        <%= f.number_field :price %>円</br>
        <%= hidden_field_tag :permission, false %>
      </div>
        <%= f.submit "追加する" %>
    <% end %>

<% end %>

