<div class="main">
	<div class="block　course_block">
		<h2 class="bg_sunflower">メニュー・コース一覧</h2>
		<div class="contents">
			<h3>改善基本コース</h3>
			<div class="course_description">
				<p class="course_photo">写真</p>
				<p class="course_text">身体の土台である軸と重心バランスを整えて体の歪みをリセット。<br>
				じっくり全身をもみほぐして筋肉バランスを整える疲労回復改善コース。<br>
				慢性的な首、肩、背中、腰の辛さがある方、冷え、頭痛持ちがある方に
				オススメのコースとなっております。</p>
			</div>
			<div class="course_box">
				<dl><dt>全身整体ベーシック</dt><dd>60分</dd><dd>5000円</dd></dl>
				<dl><dt>全身整体ベーシック</dt><dd>120分</dd><dd>12000円</dd></dl><p>※初回のみ　3500円　足つぼ＋1000円</p>
				<p class="btn_reservation">予約する ></p>
			</div>

			<h3>極上リラクゼーションコース</h3>
			<div class="course_description">
				<p class="course_photo">写真</p>
				<p class="course_text">身体の土台である軸と重心バランスを整えて体の歪みをリセットした後、
				全身を優しくゆったりとアロマトリートメント。<br>
				心身の緊張をほぐす癒しメニューが組み合わせになった改善コース。<br>
				慢性的な首、肩、背中、腰の辛さがある方、冷え、頭痛持ちがある方に
				オススメのコースとなっております。</p>
			</div>
			<div class="course_box">
				<dl><dt>極上整体プレミアム　90分</dt><dd>13000円</dd></dl>
				<dl><dt>極上整体プレミアム　120分</dt><dd>15000円</dd></dl>
				<p class="btn_reservation">予約する ></p>
			</div>
		</div>

		<%# FIXME: コース一つずつに「追加するボタン」がいるのか、ページに一つあれば良いのか %>
		<div class="contents">
		  <% @menus.each.with_index do |menu, i| %>
				<h3><%= menu.menu_title %></h3>
	  		<div class="course_description">
				  <%# FIXME: 適切な画像不明のためコメントアウト %>
	  		  <%# <p class="course_photo"> %>
	  		    <%#= attachment_image_tag menu, :menu_image,  format: 'jpeg', fallback: "/images/no_image.jpg", size: "100x100" %>
	  		  <%# </p> %>
	  		  <p class="course_text"><%= menu.introduce %></p>
	  		  <p style="background-color: yellow; padding:5px 10px; display: inline-block; margin-left: 5px; letter-spacing: 1px;"><%= link_to "削除", renew_menu_path(menu.id, permission: true), delete: "menu", method: :delete,"data-confirm" => "本当に削除しますか？" %></p>
	  		  <p style="background-color: yellow; padding:5px 10px; display: inline-block; margin-left: 5px; letter-spacing: 0.25px;"><%= link_to "編集", renew_menu_path(menu.id) %></p>
	  		</div>
	  		<%#= link_to "削除", renew_menu_path(menu.id), delete: "menu", method: :delete,"data-confirm" => "本当に削除しますか？" %>
        <div class="course_box" style="clear: both;">
	        <% menu.courses.each do |course| %>
	      		<dl style="float: left;">
	      			<dt><%= course.course_name %></dt>
	      			<dd><%= course.course_time %>分</dd>
	      			<dd><%= course.price %>円</dd>
	      		</dl>
	      		<p style="background-color: yellow; padding:5px 10px; display: inline-block; float: right;"><%= link_to "削除", renew_menu_path(course.id, permission: false), delete: "course", method: :delete,"data-confirm" => "本当に削除しますか？" %></p>
	      		<p style="background-color: yellow; padding:5px 10px; display: inline-block; float: right; margin-right: 5px;"><%= link_to "編集", edit_menu_path(course.id) %></p>
						<br>
						<br>
	    		<% end %>
	    	</div>
			<div class="hidden_box contents">
      	<label for="label1">コースを追加</label>
      	<input type="checkbox" id="label1" style="display: none;"/>
      	<div class="hidden_show" style="clear: both;">
  				<dt class="form-title">【コースの追加】</dt>
  				<%= form_with(model: @menu, url: menus_path, method: :post ,local: true) do |f| %>
  	    		<div class="form">
							<dl>
  	    				<%#= f.hidden_field :menu_id, :value => menu.id %>
  	    				<%= f.hidden_field :menu_id, value: menu.id, id: "menu_id#{i}" %>
  	    				<dd class="form-item">コース名：<%= f.text_field :course_name, id: "course_name#{i}" %></dd>
  	     				<dd class="form-item"><%= f.select :course_time, [["15", 15],["30", 30], ["45", 45], ["60", 60], ["75", 75], ["90", 90], ["105", 105], ["120", 120], ["135", 135], ["150", 150], ["165", 165], ["180", 180]], id: "menu_course_time#{i}" %>分</dd>
  	      			<dd class="form-item"><%= f.number_field :price, id: "menu_price#{i}" %>円
  	      			<%= hidden_field_tag :permission, false, id: "permission#{i}" %></dd>
  						</dl>
  	    		</div>
  	      <%= f.submit "追加する" %>
  	    <% end %>
  			<p class="btn_reservation"><a href="/reservations">予約する ></a></p>
			</div>
		</div>
		<% end %>
	</div>
</div>
