<div class="main">
	<div class="block　course_block">
		<h2 class="bg_sunflower">メニュー・コース一覧</h2>
		<% if current_admin %>
		<div class="">
			<%= link_to add_menu_path, class: "btn btn-info btn-lg mt-3 px-5 offset-md-5 offset-lg-0 offset-3" do %>
			 <i class="fas fa-plus-circle"></i>　メニュー追加
			<% end %>
			</div>
		<% end %>
		<div class="contents">
		  <% @menus.each.with_index do |menu, i| %>
		    <div class="my-5">
					<h3 class="d-inline-block">
						<%= menu.menu_title %>
					</h3>
						<% if admin_signed_in? %>
							<span class="">
	  		   		<%= link_to renew_menu_path(menu.id), class: "btn btn-info btn-lg px-5 no-text-indent mx-3" do %>
	  		   			<i class="fas fa-pen"></i>　編集
	  		   		<% end %>
	  		    	<%= link_to renew_menu_path(menu.id, permission: true), delete: "menu", method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-info no-text-indent btn-lg px-5" do %>
	  		    		<i class="fas fa-trash"></i>　削除
	  		    	<% end %>
	  		    	<span class="hidden_box contents p-0 d-inline">
      					<label for="label<%= i %>" class="btn btn-info btn-lg px-5 cursor-button mx-3">
      						<i class="fas fa-plus-circle"></i>　コース追加
      					</label>
      					<input type="checkbox" id="label<%= i %>" style="display: none;"/>
      					<div class="hidden_show" style="clear: both;">
  								<dt class="form-title">【コースの追加】</dt>
  								<%= form_with(model: @menu, url: menus_path, method: :post ,local: true) do |f| %>
  	    						<div class="form-group row mt-3">
            					<%= f.label "コース名", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            					<%= f.text_field :course_name, id: "course_name#{i}", required: true, maxlength:50 %>
        						</div>
        						<div class="form-group row">
            					<%= f.label "コース時間", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            					<%= f.select :course_time, [["30", 30], ["60", 60], ["90", 90], ["120", 120], ["150", 150], ["180", 180]], id: "menu_course_time#{i}" %>　分
        						</div>
        						<div class="form-group row">
           						<%= f.label "価格", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
           						<%= f.number_field :price, id: "menu_price#{i}", required: true, min:0 %>　円
       							</div>
  	   							<%= f.hidden_field :menu_id, value: menu.id, id: "menu_id{i}" %>
        						<%= hidden_field_tag :permission, false, id: "permission#{i}" %>
  	      					<%= f.submit "追加する", class: "btn btn-primary btn-lg px-5 offset-5" %>
  	    					<% end %>
								</div>
							</span>
	  		   		</span>
	  		   	<% end %>
	  			<div class="course_description">
	  		  	<p class="course_photo">
	  		  		<!--<%# if i == 0 %>-->
	  		  		<!--	<%#= image_tag 'massage2.jpg' %>-->
	  		  		<!--<%# elsif i == 1 %>-->
	  		  		<!--	<%#= image_tag 'foot.jpg' %>-->
	  		  		<!--<%# elsif i == 2 %>-->
	  		  		<!--	<%#= image_tag 'tyou.jpg' %>-->
	  		  		<!--<%# elsif i == 3 %>-->
	  		  		<!--	<%#= image_tag 'HyperKnife.jpg' %>-->
	  		  		<!--<%# else %>-->
	  		  		
	  		  			<%#= cl_image_tag(@user.cl_image.retina.filename), fallback: "/images/no_image.jpg" %>
	  		  			<% if menu.image.present? %>
	  		  				<%= image_tag(menu.image_url, :alt => menu.menu_title) %>
	  		  			<% else %>
	  		  				<%= image_tag("/images/no_image.jpg", :alt => menu.menu_title) %>
	  		  			<% end %>
	  		  		<!--<%# end %>-->
	  		   	</p>
	  		   	<p class="course_text pl-md-5"><%= menu.introduce %></p>
	  			</div>
        	<div class="course_box my-5" style="clear: both;">
	        	<% menu.courses.each do |course| %>
	        	<% if admin_signed_in? %>

	        			<span class="float-right">
	      				<%= link_to edit_menu_path(course.id), class: "btn btn-primary btn-lg" do %>
	      					<i class="fas fa-pen"></i>　編集
	      				<% end %>
	      		  	<%= link_to renew_menu_path(course.id, permission: false), delete: "course", method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-lg btn-info" do %>
	      		  		<i class="fas fa-trash"></i>　削除
	      		  	<% end %>
	      		  	</span>

	      			<% end %>
	      			<dl class="mx-auto">
	      				<dt><%= course.course_name %></dt>
	      				<dd><%= course.course_time %>分</dd>
	      				<dd><%= course.price %>円</dd>
	      			</dl>
	    			<% end %>
	    		</div>
				</div>
				<br>
			<% end %>
		</div>
	</div>
</div>

