<div class="main">
  <div class="block">
      <h2 class="bg_sunflower">メニューを編集する</h2>
    <div class="contents">
  <%= form_with(model: @menu,local: true) do |f| %>
   <%= render "devise/shared/error_messages", resource: @menu %>
      <div class="form">
			<dl>
				<dt class="form-title">メニュー名</dt>
				<dd class="form-item"><%= f.text_field :menu_title, required: true, class: "col-10" %></dd>
			</dl>
		</div>
		<div class="form">
			<dl>
				<dt class="form-title">画像1</dt>
				<dd class="form-item"><%#= image_tag(@menu.menu_image_url(:thumbnail), :width => 80, :height => 80) %></dd>
				<dd class="form-item">
					<%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
				</dd>
			</dl>
		</div>
		<div class="form">
			<dl>
				<dt class="form-title">紹介文</dt>
				<dd class="form-item"><%= f.text_area :introduce, required: true, class: "col-10" %></dd>

				<%= hidden_field_tag :permission, true %>
			</dl>
      </div>
        <%#= f.hidden_field :menu_id, value: false%>
        <%= f.submit "更新する", class: "btn btn-info btn-lg px-5 offset-5" %>
    <% end %>
     </div> 
 </div>
</div>
