<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">注意事項</h2>
    <div class="contents">
      <p style="color: red; font-size: 14px; font-weight: bold;">
        ※以下の注意事項はご予約前に必ずお読みください。
      </p>
      当サロンの施術は、リラクゼーションやリフレッシュ、美と健康の維持増進を目的としております。<br>
      治療を目的としたものではありません。
      <br>
      <br>
      <p>次の項目のいずれかに当てはまる場合は、お受けいたしかねますのでご了承下さい。</p>

      <ul>
        <li>医師による治療を受けている方、又は医師の許可を得ていない方妊娠している方</li>
        <li>妊娠している可能性のある方発熱している、極度に体力を消耗している方</li>
        <li>飲酒をした状態の方手術後間もない方</li>
        <li>皮膚疾患、水虫の方ガン、心臓病、高血圧、腎臓疾患、糖尿病、リウマチ、
      骨粗しょう症の方てんかんをお持ちの方</li>
        <li>けが、やけど、打撲、捻挫などの急性の炎症がある方</li>
        <li>椎間板ヘルニア、ムチウチ、すべり症、分離症の方は骨盤調整の際に調整制限があります。</li>
      </ul>
    </div>
  </div>
  
  <div class="block">
    <h2 class="bg_pinkflower">ご予約変更・キャンセルについて</h2>
    <div class="contents">
      <ul>
        <li>日時変更は、ご予約日の「前日」までにご連絡をお願い致します</li>
        <li>当日キャンセル、無断キャンセルされた場合、キャンセル料としてトリートメント代金の全額を頂戴いたします</li>
        <li>ご予約時間開始から15分以上過ぎた場合は、セラピーの時間を短縮、または当日セラピーが出来ない場合がございます (次の時間にご予約を頂いているお客様に影響が出てしまう為です)</li>
        <li>当日セラピーが出来なかった場合、当日キャンセルと同じ扱いとなります</li>
      </ul>
      <br>
      <p>ichiに来てくださるお客様に快適なお時間を過ごして頂けるよう、メニューや状況に合わせてご予約時間の設定をしております。</p>
      <p>当日の遅刻、当日キャンセル、無断キャンセルは、予約を取りたい他のお客様に大変ご迷惑となります。</p>
      <p>お客様に気持ち良く通って頂けるよう、大変恐縮ではございますが、ご理解ご協力のほど、よろしくお願い申し上げます。</p>
    </div>
  </div>
  

  <div class="block">
    <h2 class="bg_blueflower">よくあるご質問</h2>
      <div class="contents pb-3" id="faq_block">
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
          <% @questions.each_with_index do |question, i|%>
            <div class="card my-5">
              <div class="card-header bg-blue py-4" role="tab" id="heading<%= i %>">
                <h5 class="mb-0">
                  <a class="p-3 m-n3" data-toggle="collapse" href="#collapse<%= i %>" role="button" aria-expanded="true" aria-controls="collapse<%= i %>">
                    Q.<%= question.user_question %>
                  </a>
                  <% if admin_signed_in? %>
                   <span class="float-right">
                    <%= link_to edit_note_path(question.id), class: "btn btn-lg btn-primary px-4" do %>
                      <i class="fas fa-pen"></i>　編集
                    <% end %>
                    <%= link_to edit_note_path(question.id, permission: true), delete: "question", method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-lg px-4 btn-primary" do %>
                      <i class="fas fa-trash"></i>　削除
                    <% end %>
                    </span>
                  <% end %>
                </h5>
              </div><!-- /.card-header -->
              <div id="collapse<%= i %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= i %>" data-parent="#accordion">
                <div class="card-body">
                  A.<%= question.answer %>
                </div><!-- /.card-body -->
              </div><!-- /.collapse -->
            </div><!-- /.card -->
          <% end %>
        </div><!-- /.accordion -->
      </div>
  </div>
  <% if current_admin %>
    <div class="hidden_box mb-4">
      <label for="label1" class="btn btn-primary btn-lg px-5 cursor-button mx-3">
        <i class="fas fa-plus-circle"></i>　Q&Aを追加
      </label>
      <input type="checkbox" id="label1" style="display: none;"/>
        <div class="hidden_show">
          <!--非表示ここから-->
          <div class="contents">
            <div class="form">
              <dl>
                <%= form_with(model: @question, url: menus_note_path ,local: true) do |f| %>
                  <dt class="form-title">質問文</dt>
                  <dd class="form-item"><%= f.text_field :user_question, required: "required", maxlength: 100, class: "col-10" %></dd>
                  <dt class="form-title">答え</dt>
                  <dd class="form-item"><%= f.text_area :answer, required: "required", maxlength: 200 %></dd>
                  <%= f.submit "追加する", class: "btn btn-info btn-lg offset-5 px-5" %>
                <% end %>
              </dl>
            </div>
            <!--ここまで-->
          </div>
        </div>
    </div>
  <% end %>
</div>
