<%# <div class="alert alert-success"><%= flash[:notice] %>
<%# <div class="alert alert-danger"><%= flash[:danger] %>
<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">注意事項</h2>
    <div class="contents"><p style="color: red; font-size: 14px; font-weight: bold;">※以下の注意事項はご予約前に必ずお読みください。<br>※当サロンの施術は、リラクゼーションやリフレッシュ、
    美と健康の維持増進を目的としております。治療を目的としたものではありません。</p>
    <p>次の項目のいずれかに当てはまる場合は、お受けいたしかねますのでご了承下さい。</p>

    <ul>
      <li>・医師による治療を受けている方、又は医師の許可を得ていない方妊娠している方</li>
      <li>・妊娠している可能性のある方発熱している、極度に体力を消耗している方</li>
      <li>・飲酒をした状態の方手術後間もない方</li>
      <li>・皮膚疾患、水虫の方ガン、心臓病、高血圧、腎臓疾患、糖尿病、リウマチ、
      骨粗しょう症の方てんかんをお持ちの方</li>
      <li>・けが、やけど、打撲、捻挫などの急性の炎症がある方</li>
      <li>・椎間板ヘルニア、ムチウチ、すべり症、分離症の方は骨盤調整の際に調整制限があります。</li>
      </ul>
    </div>
  </div>
  
  <div class="block">
    <h2 class="bg_sunflower">ご予約変更・キャンセルについて</h2>
    <div class="contents">
      <ol>
        <li>①日時変更は、ご予約日の「前日」までにご連絡をお願い致します</li>
        <li>②当日キャンセル、無断キャンセルされた場合、キャンセル料としてトリートメント代金の全額を頂戴いたします</li>
        <li>③ご予約時間開始から15分以上過ぎた場合は、セラピーの時間を短縮、または当日セラピーが出来ない場合がございます (次の時間にご予約を頂いているお客様に影響が出てしまう為です)</li>
        <li>④当日セラピーが出来なかった場合、当日キャンセルと同じ扱いとなります</li>
      </ol>
      <br>
      <p>ichiに来てくださるお客様に快適なお時間を過ごして頂けるよう、メニューや状況に合わせてご予約時間の設定をしております。</p>
      <p>当日の遅刻、当日キャンセル、無断キャンセルは、予約を取りたい他のお客様に大変ご迷惑となります。</p>
      <p>お客様に気持ち良く通って頂けるよう、大変恐縮ではございますが、ご理解ご協力のほど、よろしくお願い申し上げます。</p>
    </div>
  </div>
  

  <div class="block">
    <h2 class="bg_pinkflower">よくあるご質問</h2>
      <div class="contents" id="faq_block">

      <%# seedで対応のためコメントアウト %>
      <%# <dl><dt>Q.当日予約はできますか？</dt>
      <dd>A.できます。完全予約制のため、当日のご予約につきましては、お電話にてご予約を承っております。出来るだけ余裕をもってのご予約をお勧めしております。</dd></dl>

      <dl><dt>Q.予約内容は変更できますか？</dt>
      <dd>A.はい。当日ご来店されてからの変更は、ご希望に添えない場合もございますので、
      できるだけ前日までにご連絡をお願いいたします。</dd></dl>

      <dl><dt>Q.生理中や妊娠中でも大丈夫ですか？</dt>
      <dd>A.生理中でもお受けいただけます。体内循環が活性されるので、一時的に経血が多くなる場合もありますが、「出るべきものが早く出る」ということで、体への影響は心配ありません。妊娠中の方、妊娠している可能性のある方については、安全面を考慮しご遠慮いただいております。</dd></dl>

      <dl><dt>Q.オイルによって肌荒れ等が起きる場合がありますか？</dt>
      <dd>A.当店はお肌に優しいオイルを使用しておりますが、
      お客様の体質・体調によってオイルとの相性がございます。皮膚に合わない場合は、
      肌荒れやただれの原因になりますので、不安なお客様はお控えくださいませ。</dd></dl> %>

      <%# <dl><dt>Qオイルによって肌荒れ等が起きる場合がありますか？</dt>
      <dd> A.当店はお肌に優しいオイルを使用しておりますが、
      お客様の体質・体調によってオイルとの相性がございます。皮膚に合わない場合は、
      肌荒れやただれの原因になりますので、不安なお客様はお控えくださいませ。</dd></dl> %>

    <% @questions.each do |question|%>
      <dl><dt> Q.<%= question.user_question %>
      <button style="background: yellow;"><%= link_to "編集", edit_note_path(question.id) %></button>
      <button style="background: yellow;"><%= link_to "削除", edit_note_path(question.id, permission: true), delete: "question", method: :delete,"data-confirm" => "本当に削除しますか？" %></button></dt> 

      <dd> A.<%= question.answer %></dd></dl>
    <% end %>
    </div>
  </div>

  <% if current_admin %>
    <div class="hidden_box">
      <label for="label1">Q&Aを追加</label>
      <input type="checkbox" id="label1" style="display: none;"/>
        <div class="hidden_show">
          <!--非表示ここから-->
          <div class="contents">
            <h4>Q&Aの追加</h4>
            <div class="form">
              <dl>
                <%= form_with(model: @question, url: menus_note_path ,local: true) do |f| %>
                  <dt class="form-title">質問文</dt>
                  <dd class="form-item"><%= f.text_field :user_question, required: "required", maxlength: 100 %></dd>
                  <dt class="form-title">答え</dt>
                  <dd class="form-item"><%= f.text_area :answer, required: "required", maxlength: 200 %></dd>
                  <%#= f.hidden_field :id, value: @question.id %>
                  <%= f.submit "追加する" %>
                <% end %>
              </dl>
            </div>
            <!--ここまで-->
          </div>
        </div>
    </div>
  <% end %>
</div>
