<div class="alert alert-success"><%= flash[:notice] %></div>
<div class="alert alert-danger"><%= flash[:danger] %></div>
<div class="main">
  <div class="block">
     <h2 class="bg_sunflower">注意事項</h2>
     <div class="contents"><p style="color: red; font-size: 14px; font-weight: bold;">※以下の注意事項はご予約前に必ずお読みください。<br>※当サロンの施術は、リラクゼーションやリフレッシュ、
      美と健康の維持増進を目的としております。治療を目的としたものではありません。</p>
      <p>次の項目のいずれかに当てはまる場合は、お受けいたしかねますのでご了承下さい。</p>

      <ul>
       <li>・医師による治療を受けている方、又は医師の許可を得ていない方妊娠している方</li>
       <li>・妊娠している可能性のある方発熱している、極度に体力を消耗している方</li>
       <li>・飲酒をした状態の方手術後間もない方</li>
       <li>・皮膚疾患、水虫の方ガン、心臓病、高血圧、腎臓疾患、糖尿病、リウマチ、
        骨粗しょう症の方てんかんをお持ちの方</li>
       <li>・けが、やけど、打撲、捻挫などの急性の炎症がある方</li>
       <li>・椎間板ヘルニア、ムチウチ、すべり症、分離症の方は骨盤調整の際に調整制限があります。</li>
      </ul>
     </div>
    </div>

  <div class="block">
     <h2 class="bg_pinkflower">よくあるご質問</h2>
      <div class="contents" id="faq_block"><dl><dt>Q.当日予約はできますか？<button type="button" class="btn">編集する</button></dt>
      <dd>A.できます。完全予約制のため、当日のご予約につきましては、お電話にてご予約を承っております。出来るだけ余裕をもってのご予約をお勧めしております。</dd></dl>

      <dl><dt>Q.予約内容は変更できますか？<button type="button" class="btn">編集する</button></dt></dt>
      <dd>A.はい。当日ご来店されてからの変更は、ご希望に添えない場合もございますので、
     できるだけ前日までにご連絡をお願いいたします。</dd></dl>

      <dl><dt>Q.生理中や妊娠中でも大丈夫ですか？<button type="button" class="btn">編集する</button></dt></dt>
      <dd>A.生理中でもお受けいただけます。体内循環が活性されるので、一時的に経血が多くなる場合もありますが、「出るべきものが早く出る」ということで、体への影響は心配ありません。妊娠中の方、妊娠している可能性のある方については、安全面を考慮しご遠慮いただいております。</dd></dl>

      <dl><dt>Q.オイルによって肌荒れ等が起きる場合がありますか？<button type="button" class="btn">編集する</button></dt></dt>
      <dd>A.当店はお肌に優しいオイルを使用しておりますが、
       お客様の体質・体調によってオイルとの相性がございます。皮膚に合わない場合は、
       肌荒れやただれの原因になりますので、不安なお客様はお控えくださいませ。</dd></dl>
      </div>

   <div class="hidden_box">
     <label for="label1"><button type="button" class="btn">Q&Aを追加</button></label>
     <div class="hidden_show">
       <!--非表示ここから-->
       <% @questions.each do |question|%>
        Q.<%= question.user_question %> 
        <%= link_to "編集", edit_note_path(question.id) %>
        <%= link_to "削除", edit_note_path(question.id, permission: true), delete: "question", method: :delete,"data-confirm" => "本当に削除しますか？" %></br>

        A.<%= question.answer %></br>
       <% end %>


      <h4>Q&Aの追加</h4>
       <%= form_with(model: @question, url: menus_note_path ,local: true) do |f| %>
            <div class="form">
              <h4>質問文</h4>
              <div style= "height: 20px;">
              <%= f.text_field :user_question %></div>
              <h4>答え</h4>
              <%= f.text_area :answer %>
            </div>
              <%#= f.hidden_field :id, value: @question.id %>
              <%= f.submit "追加する" %>
          <% end %>
       </div>
                <!--ここまで-->
           </div>
        </div>
       </div>
</div>