<div id="new_user_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div class="group">
<div class="slide mb-3">
  <%= image_tag 'ichi.webp' %>
  <%= image_tag 'room.webp' %>
  <%= image_tag 'top3.webp' %>
</div>
  <p class= "text-center w-75">〜女性専用〜<br></br>疲れを癒す、<br class="pc_br">リラクゼーションサロン</p>
</div>

<div class="main">
  <div class="block top_block">
    <h2 class="bg_sunflower">ichiについて</h2>
    <div class="contents">
      <h3 class="">一期一会　～once in a lifetime encounter～</h3>
      <p class="">
        お客様にとっての、“Only1”になりたいという想いから、「ichi」と名付けました。<br>
        出会いを大切に想い、今できる最高のおもてなしをお客様にご提供いたします。<br>
        心、身体の疲れを癒し、慌ただしい日常とは違う空間で、心からリラックスしていただけるよう、
        お客様のニーズ、コンディションに合わせ、あなただけのオリジナルメニューをご提案いたします。<br>
        お客様の本来の美しさを引き出し、お客様一人一人の魅力を最大限に引き出します。<br>
        ご自身へのご褒美に、ゆったりとした時間を「ichi」でお過ごしいただけたら嬉しいです。<br>
      </p>
      <br>
    </div>
  </div>
  <div class="block">
    <h2 class="bg_pinkflower">セラピスト紹介</h2>
    <div class="contents">
      <div id="pro_info">
        <div id="hirosawa" class="profile rounded">
          <h4 style="background: #CC5289;" class="text-white">廣澤 愛(ひろさわ あい)</h4>
          <dl class="history">
            <dt>■&nbsp;施術歴</dt>
            <dd>13年</dd>
          </dl>
          <dl class="history">
            <dt style="vertical-align:top;">■&nbsp;経歴</dt>
            <dd>
              高校時代サッカー部マネージャーに所属。<br>
              サポート、ケアする楽しさを知り、介護福祉系の大学に進学。<br>
              大学時代、高齢者介護の実務経験を積むために自身も通っていた接骨院でアルバイト。<br>
              <br>
              接骨院で、接客の面白さ、医療マッサージだけでなく、東洋医学、アロマテラピー、リラクゼーションの業界に魅了される。<br>
              <br>
              大学卒業後、都内エステサロンへ入社。8年間勤務の中で店長職経験。<br>
              <br>
              タイ古式マッサージ、経絡リンパ、アーユルヴェーダを学び<br>
              2015年  『ichi』開業
            </dd>
          </dl>
          <dl class="hobby">
            <dt style="vertical-align:top;">■&nbsp;資格</dt>
            <dd>
              文部科学省後援<br class="pc_br"> 　健康管理能力検定1級<br>
              日本リラクゼーション業協会<br class="pc_br">　リラクゼーションセラピスト1級<br>
              日本美腸協会<br class="pc_br">　認定アドバイザー<br>
              日本美腸協会<br class="pc_br">　美腸エステ®︎認定セラピスト<br>
            </dd>
          </dl>
          <dl class="hobby">
            <dt>■&nbsp;好きな人</dt>
            <dd>Dressingちゃん(ファンタジー系シンガーソングライター)</dd>
          </dl>
          <dl class="hobby">
            <dt>■&nbsp;好きな映画</dt>
            <dd>しあわせのパン、花戦さ</dd>
          </dl>
          <dl class="hobby">
            <dt>■&nbsp;趣味</dt>
            <dd>御朱印巡り、ラジオ視聴</dd>
          </dl>
          <dl class="message">
            <dt style="vertical-align:top;">■&nbsp;ひとこと</dt>
            <dd>女性でも安心してお越しいただけるようなリラクゼーションサロンになっております。「ここに来て良かった。」と言っていただけるよう、日々努力しております。<br>至福の癒しを、「ichi」にてぜひご堪能ください。</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <h2 class="bg_blueflower">お客様の声</h2>
  <div class="contents">
    <div class="balloon1 mb-5">
      <div class="icon">
        <%= image_tag 'woman-1.jpg', class: "woman-icon rounded float-left", alt: "woman-1" %>
      </div>
      <span>
        【もみほぐし・30代女性】
        <br>
        廣澤さんの確かな技術と温かい笑顔に癒されて、昨年の11月からリピーターになりました。
        <br>
        自分だけの時間を大切にしたい私にぴったりな、隠れ家的サロンです。
        <br>
      </span>
    </div>

    <div class="balloon2 mb-5">
      <div class="icon">
       <%= image_tag 'woman-3.jpg', class: "woman-icon rounded float-left", alt: "woman-2" %>
      </div>
      <span>
        【もみほぐし・40代女性】
        <br>
        マッサージは、海外旅行に行った時くらいで、日本では受けたことありませんでした。
        <br>
        同僚のススメもあり、はじめて受けた後、こんなに身体が疲れている事がわかりました。
        <br>
        もみほぐし後は身体が軽くなるのを感じています！
      </span>
    </div>

     <div class="balloon1 mb-5">
      <div class="icon">
        <%= image_tag 'woman-2.jpg', class: "woman-icon rounded float-left", alt: "woman-1" %>
      </div>
      <span>
        【もみほぐし・30代女性】
        <br>
        体力勝負の仕事なので、身体は常にボロボロでした。
        <br>
        足も腰も辛かったのですが、もみほぐしを受けると翌日は走れるくらい身体が楽になります！
        <br>
      </span>
    </div>
     <div class="balloon2 mb-5">
      <div class="icon">
       <%= image_tag 'woman-4.jpg', class: "woman-icon rounded float-left", alt: "woman-2" %>
      </div>
      <span>
        【腸もみ・40代女性】
        <br>
        初めて腸もみを受けた後、ベルト1つ分ウエストが細くなり、胃がグルグル動き、いつもはお腹が空かない時間にお腹ペコペコになりました。
        <br>
        お通じもいつも違うものが出ました！
        <br>
        「腸もみ」恐るべしです！
      </span>
    </div>
    <div class="balloon1 mb-5">
      <div class="icon">
        <%= image_tag 'woman-7.jpg', class: "woman-icon rounded float-left", alt: "woman-1" %>
      </div>
      <span>
        【腸もみ・50代女性】
        <br>
        10年前に腸の病気を患い、健康の大切さを痛感しました。
        <br>
        『腸もみ』に出会いそれからは、健康を維持し、50歳になっても仕事を続けられています！
        <br>
      </span>
    </div>
    <div class="balloon2 mb-5">
      <div class="icon">
       <%= image_tag 'woman-6.jpg', class: "woman-icon rounded float-left", alt: "woman-2" %>
      </div>
      <span>
        【ハイパーナイフ・40代女性】
        <br>
        脚に付いた脂肪が固く、痛みまで出てきていました。
        <br>
        ハイパーナイフは、受ける時あたたかく気持ちが良く、行っている最中でも柔らかくなってくるのがわかりました！
        <br>
        続けると細くなると思いました！
      </span>
    </div>
    <div class="balloon1 mb-5">
      <div class="icon">
        <%= image_tag 'woman-5.jpg', class: "woman-icon rounded float-left", alt: "woman-1" %>
      </div>
      <span>
        【ハイパーナイフ・30代女性】
        <br>
        脇腹のお肉が気になり、ハイパーナイフを受けようと思いました！
        <br>
        1回受けた後、実感はなかったのですが、友人に『シルエットが違う！』と言われ、2回目からは、自分自身でも変わってきたのがわかってきました！
        <br>
        嬉しいです！
      </span>
    </div>

  </div>
</div>

<script type="text/javascript">
function slideSwitch() {
   var $active = $('#slideshow img.active');

   if ( $active.length == 0 ) $active = $('#slideshow img:last');

   var $next =  $active.next().length ? $active.next()
      : $('#slideshow img:first');

   $active.addClass('last-active');

   $next.css({opacity: 0.0})
      .addClass('active')
      .animate({opacity: 1.0}, 1000, function() {
           $active.removeClass('active last-active');
      });
}

$(function() {
   setInterval( "slideSwitch()", 3000 );
});
</script>


<style>
.slide {
  position: relative;
  width: 100%;
  height: 640px;
  overflow: hidden;
}

@keyframes slideshow{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }

}

.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}

.slide img:nth-child(2){
  animation-delay: 8s;
}

.slide img:last-child{
  animation-delay: 16s;
}


@media screen and (max-width: 480px) {
.slide {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.sp_br{
    display: none;
  }


.group p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 2.1rem;
  text-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 4px rgba(0,0,0,.6), 0 0 8px rgba(0,0,0,.6), 0 0 12px rgba(0,0,0,.4), 0 0 17px rgba(0,0,0,.6);
  font-weight: 500;
}

}

@media screen and (min-width:480px) and ( max-width:768px) {
.slide {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.pc_br{
    display: none;
  }

.group p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 4px rgba(0,0,0,.6), 0 0 8px rgba(0,0,0,.6), 0 0 12px rgba(0,0,0,.4), 0 0 17px rgba(0,0,0,.6);
  font-weight: 500;
}
}

@media screen and (min-width:768px) and ( max-width:1024px) {
.slide {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.pc_br{
    display: none;
  }


.group p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 4px rgba(0,0,0,.6), 0 0 8px rgba(0,0,0,.6), 0 0 12px rgba(0,0,0,.4), 0 0 17px rgba(0,0,0,.6);
  font-weight: 500;
}
}
@media screen and (min-width: 1024px) {
.slide {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.pc_br{
    display: none;
  }

.group p {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 1px rgba(0,0,0,.6), 0 0 4px rgba(0,0,0,.6), 0 0 8px rgba(0,0,0,.6), 0 0 12px rgba(0,0,0,.4), 0 0 17px rgba(0,0,0,.6);
  font-weight: 500;
}
}

.group {/*親div*/
  position: relative;/*相対配置*/
}

/*.group img {*/
/*  width: 100%;*/
/*}*/

.opacity {
  background-repeat:  no-repeat;
  background-size: cover;
  opacity: 0.7;
}

</style>


















