<div class="main">
  <div class="block">
    <h2 class="bg_sunflower">管理者情報編集</h2>
    <div class="contents registration-block">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <div class="form">
            <dl>
              <dt class="form-title"><%= f.label :管理者名 %></dt>
              <dd class="form-item"><%= f.text_field :admin_name, autofocus: true, autocomplete: "admin-name", required: true, class: "col-10" %></dd>
            </dl>
          </div>
        </div>
        <div class="field">
          <div class="form">
            <dl>
              <dt class="form-title"><%= f.label :メールアドレス %></dt>
              <dd class="form-item"><%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "col-10", type: "email" %></dd>
            </dl>
          </div>
        </div>
        <div class="field">
          <div class="form">
            <dl>
              <dt class="form-title"> <%= f.label :パスワード %></dt>
              <% if @minimum_password_length %>
                <dd class="form-item pb-0">
                  <em>(<%= @minimum_password_length %> 文字以上の半角英数字で登録して下さい)</em>
                </dd>
              <% end %>
              <dd class="form-item pt-0"><%= f.password_field :password, autocomplete: "new-password", class: "col-10 pt-0" %></dd>
            </dl>
          </div>
        </div>
        <div class="field">
          <div class="form">
            <dl>
              <dt class="form-title"><%= f.label :パスワードの確認 %></dt>
              <dd class="form-item"> <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-10" %></dd>
            </dl>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
          <%= f.submit "更新する", class: "btn btn-info btn-lg px-5" %>
        </div>
        </div>
      <% end %>
      <span>
      <%= link_to "退会", registration_path(resource_name), data: { confirm: "本当に退会しますか？" }, method: :delete, class: "btn btn-lg page-link text-dark d-inline-block border-bottom float-right" %>
      <%= link_to '管理者の追加はこちら', new_admin_path, class: "btn btn-info btn-lg px-5 float-right mx-3" %>
      </span>
    </div>
  </div>
</div>