<h2 class="bg_sunflower">パスワードの再発行</h2>
<div class="contents registration-block">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
		<div class="form">
			<dl>
				<dt class="form-title"><%= f.label :メールアドレス %><dt>
				<dd class="form-item"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>
			</dl>
		</div>
	</div>

  <div class="actions">
    <%= f.submit "パスワードの再発行" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 </div>
