<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div class="container">
    <p>ichiのご予約をありがとうございます。</p>
    <p>以下の通りご予約を承りました。</p>
    <p>お目にかかりますことを楽しみにしております。</p>
    <p>お気を付けてお越し下さいませ。</p>
    <hr>
    <p>施術開始日時：<%= @reservation.start_time.strftime("%Y-%m-%d %H:%M") %></p>
    <p>※ 開始5分前のご来店をお願いいたします。</p>
    <p>※ 日時変更は、ご予約日の「前日」までにご連絡をお願い致します。</p>
    <p>※ 当日キャンセル、無断キャンセルされた場合、キャンセル料としてトリートメント代金の全額を頂戴いたします。</p>
    <p>メニュー名：<%= @reservation.menu.menu_title %></p>
    <p>コース名：<%= @course_name %></p>
    <p><%= @course_time %>分</p>
    <p>要望：</p>
    <%= @reservation.demand %>
    <br>
    <hr>
    <br>
    <p>ichiの住所は以下の通りです。</p>
    <p>〒175-0094</p>
    <p>東京都板橋区成増２丁目１０−１１ IGYビル 2F</p>
    <p>03-6904-1073</p>
    <br>
    <p>お車でお越しのお客様は、添付している駐車場のご案内をご確認くださいませ。</p>
    <br>
    <p>※ 予約の変更・キャンセルはお電話で承っております。</p>
    <br>
    </div>
  </body>
</html>