<% provide(:button_text, '更新') %>

<%= include_gon %>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header info-blue">
      <h4 class="modal-title ml-5">予約編集画面</h4>
      <button type="button" class="close px-5 lead d-flex align-items-center" data-dismiss="modal" aria-label="閉じる">
        <span aria-hidden="true" class="cross">&times;</span>
       </button>
    </div><!-- /.modal-header  -->
    <%= form_with(model: @reservation, url: reservation_path(@reservation), local: true, method: :patch) do |f| %>
      <div class="modal-body">
        <div class="form-group row">
            <%= f.label "予約者名", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.text_field :user_name, class: 'form-control col-sm-6', required: "required", maxlength: 50 %>
        </div>
        <div class="form-group row">
            <%= f.label "予約者カナ名", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.text_field :user_kana_name, class: 'form-control col-sm-6', required: "required", maxlength: 50 %>
        </div>
        <div class="form-group row">
            <%= f.label "メールアドレス", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.email_field :user_email, class: 'form-control col-sm-6', required: "required", type: "email" %>
        </div>
         <div class="form-group row">
            <%= f.label "電話番号", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.telephone_field :user_phone_number, class: 'form-control col-sm-6', required: "required", type: "tel" %>
        </div>
        <div class="form-group row">
            <%= f.label "生年月日", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.date_field :birthday, class: 'form-control col-sm-6' %>
        </div>
        <div class="form-group row">
            <%= f.label "メニュー", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.collection_select :menu_id, Menu.group(:id).group(:menu_title).order(id: :desc), :id, :menu_title, {prompt: ""}, required: "required" %>
        </div>
        <div class="form-group row">
            <%= f.label "コース", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <select name="reservation[course_name]" id="reservation_course_name" required="required"></select>
        </div>
        <div class="form-group row">
          <%= f.label "コース時間", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
          <%= f.text_field :request_course_time, class: 'form-control col-sm-6', readonly: "readonly" %>
        </div>  
        <div class="form-group row">
          <%= f.label "StartTime", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
          <%= raw sprintf(f.datetime_select(
                                        :start_time, 
                                        minute_step: 30,
                                        start_year: Time.now.year,
                                        end_year: Time.now.since(2.month).year,
                                        use_month_numbers: true,
                                        date_separator: '%s', 
                                        time_separator: "%s",
                                        datetime_separator: '%s'), '年','月', '日',"時")
          %>分
        </div>
        <div class="form-group row">
            <%= f.label "ご要望", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
            <%= f.text_area :demand, class: 'form-control col-sm-6', maxlength: 300 %>
        </div>
        <div class="error-message text-danger" style="text-align:center;"></div>
        <!--<div class="form-group row">-->
        <!--  <%#= f.label "Usage time", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>-->
        <!--  <#= select_tag('usage_time',options_for_select([[30, 30], [60, 60], [90, 90], [120, 120]]))%>分-->
        <!--</div>-->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <span class="mx-auto">
          <button type="button" class="btn btn-secondary btn-lg mx-3 px-5" data-dismiss="modal">
            閉じる
          </button>
          <%= f.submit yield(:button_text), class: "btn btn-info btn-lg px-5 mx-3" %>
           <%= link_to "削除", reservation_path(@reservation), method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger btn-lg px-5 mx-3" %>
        </span>
      </div><!-- /.modal-footer -->
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
$(function() {
  
  var defaults = $("#reservation_start_time_4i option:selected").val();

  $("#reservation_start_time_4i option").remove();
  
  var array = [...Array(11).keys()].map(i => ++i + 9);
 
  $.each(array, function(index, value) {
    
    if(defaults == value){
    
       $('#reservation_start_time_4i').append(`<option value="${value}" selected>${value}</option>`);
     
    }else{
      
       $('#reservation_start_time_4i').append(`<option value="${value}">${value}</option>`);
       
    }
 
  });
  
  // select要素を予め取得しておく
  var $reservation_menu_id = $('#reservation_menu_id');
  var $reservation_course_name = $('#reservation_course_name');
  var $reservation_request_course_time = $('#reservation_request_course_time');
  
  //モーダル開いた時にコースを取得
  var $option_tag = $('<option>').val(gon.course_name).text(gon.course_name);
  $reservation_course_name.append($option_tag);
 
  // メニュー選択時にコースに選択肢を設定
  $reservation_menu_id.change(function(e) {
    var reservation_courses = [];
    var reservation_menu_id = $reservation_menu_id.val();
    
    $('#reservation_course_name').children().remove();
    
    // 選択したメニューに紐づくコースの配列を取得
    $.each(gon.course_array, function(index, value) {
      if (value[0] == reservation_menu_id){
        reservation_courses.push(value[1]);
      }
　　});
    
    // htmlにコースの選択肢のブランクオプションをセット
    var $option_tag = $('<option>').val('').text('選択してください');
      $reservation_course_name.append($option_tag);
    
    // htmlにコースの選択肢を追加
    reservation_courses.forEach(function(course_name) {
      
      var $option_tag = $('<option>').val(course_name).text(course_name);
      $reservation_course_name.append($option_tag);
    });
  });
  
  
  $reservation_course_name.change(function(e) {
    var reservation_menu_id = $reservation_menu_id.val();
    var reservation_course_name = $reservation_course_name.val();
    
    // 選択したコースに紐づくコース時間を取得
    $.each(gon.course_time_array, function(index, value) {
      if (value[0] == reservation_menu_id && value[1] == reservation_course_name){
        reservation_course = value[2]
      }
　　});
    // htmlにコース時間を表示
    console.log(reservation_course);
      $reservation_request_course_time.val(reservation_course);
  });
  
  
  
});

// $(document).on('hidden.bs.modal', '.modal', function(){
//       $(this).removeData('bs.modal').empty();
//   });
</script>