<div class="modal-dialog">
  <div class="modal-content">
<div class="main">
<div class="block reservation_block">
<h2 class="bg_sunflower">予約状況・予約フォーム</h2>
<p>もし、管理者ログインだったらsalesカラムのフォームを表示させて、開店日のままと閉店日にするを選ぶことができる。</p>




<div class="contents">

    <h3>予約フォーム</h3>

            <div class="form-outer">
                <dt class="form-title">性別</dt>
           <dd class="form-item"><label><input type="radio" name="entryPlan" value="hoge1" onclick="entryChange1();" checked="checked" />男性</label>
            <label><input type="radio" name="entryPlan" value="hoge2" onclick="entryChange1();" />女性</label></dd>

            <!-- <label><%#= f.radio_button :gender, "男性" %>男性</label> -->
            <!-- <label><%#= f.radio_button :gender, "女性" %>女性</label> -->


            <div id="firstBox">
                <%= form_with(model: @reservation,local: true) do |f| %>
                <div class="form">
                   <dl>
                    <dt class="form-title">予約者名</dt>
                    <dd class="form-item"><%= f.text_field :user_name %></dd>

                    <dt class="form-title">予約者カナ名</dt>
                    <dd class="form-item"><%= f.text_field :user_kana_name %></dd>

                    <dd class="form-item"><%= f.hidden_field :gender, value: "男性" %></dd>

                    <dt class="form-title">予約者メールアドレス</dt>
                    <dd class="form-item"><%= f.email_field :user_email %></dd>

                    <dt class="form-title">電話番号</dt>
                    <dd class="form-item"><%= f.number_field :user_phone_number %></dd>

                    <dt class="form-title">ご希望のコース</dt>男性だったら、揉みほぐしのみのコースのみを選べるようにする。女性だったら、全てのコースを選べるようにする。
                    <%#= f.text_field :request_course %>
                    <dd class="form-item"><%= f.select :request_course, [["揉みほぐし", "揉みほぐし"]] %></dd>
                    <%#= f.collection_select :request_course, Course.all, :course_name, :course_name %>
                    <!-- ↑のセレクトは、courseから引っ張ってくる -->

                    <dt class="form-title">コースの長さ</dt>
                    <dd class="form-item"><%= f.select :request_course_time, [[30, 30],[60, 60]] %></dd>
                    <!-- ここのリンクで、カレンダーから予約時刻を選択してリンクを飛ばす。 -->
                    <%#= link_to '', new_user_reservation_url(@user, :started_at => l(time,format: :shorttime),:week_day => week_day),remote:true %>

                   <!--  <dt class="form-title">予約日付</dt>
                    <dd class="form-item"><%#= f.date_field :reservation_date %></dd> -->

                    <dt class="form-title">施術開始時間</dt>
                    <dd class="form-item">
                        <%#= f.time_select :start_time,{ start_hour:10, end_hour:20 ,minute_step: 15} %></dd>
                        <%= f.label "StartTime", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
                          <%= raw sprintf(f.datetime_select(
                                                        :start_time,
                                                        default: Time.zone.local(@today.year,@today.month,@today.day),
                                                                                # @selected_started_at.to_time.hour,@selected_started_at.to_time.min),
                                                        minute_step: 15,
                                                        start_hour:10,
                                                        end_hour:20,
                                                        start_year: Time.now.year,
                                                        end_year: Time.now.since(2.month).year,
                                                        use_month_numbers: true
                                                        # date_separator: '%s',
                                                        # time_separator: "%s",
                                                        # datetime_separator: '%s'
                                                        ), '年', '月', '日',"時") %>
                    <dt class="form-title">要望</dt>
                    <dd class="form-item"><%= f.text_area :demand %></dd>

                    </dl>次の予約開始時間と開店日or閉店日 識別をhidden_fieldで送る。管理者ログイン時は、salesも選択できるようにする。
                    <!-- 次の予約開始時間 -->
                    <%#= f.hidden_field :restart_reservation_time, value: true %>
                    <!-- 管理者ログイン時は、trueにする。 -->
                    <%= f.hidden_field :sales, value: false %><%= f.submit "男性として追加する" %>
                </div>
                <% end %>
            </div>


            <div id="secondBox">
                <%= form_with(model: @reservation,local: true) do |f| %>
                <div class="form">
                    <dl>
                    <dt class="form-title">予約者名</dt>
                    <dd class="form-item"><%= f.text_field :user_name %></dd>

                    <dt class="form-title">予約者カナ名</dt>
                    <dd class="form-item"><%= f.text_field :user_kana_name %></dd>

                    <dd class="form-item"><%= f.hidden_field :gender, value: "女性" %></dd>

                    <dt class="form-title">予約者メールアドレス</dt>
                    <dd class="form-item"><%= f.email_field :user_email %></dd>

                    <dt class="form-title">電話番号</dt>
                    <dd class="form-item"><%= f.number_field :user_phone_number %></dd>

                    <dt class="form-title">ご希望のコース</dt>男性だったら、揉みほぐしのみのコースのみを選べるようにする。女性だったら、全てのコースを選べるようにする。
                    <%#= f.text_field :request_course %>
                    <dd class="form-item"><%= f.collection_select :request_course, Menu.all, :menu_title, :menu_title %></dd>

                    <dt class="form-title">コースの長さ</dt>
                    <dd class="form-item"><%= f.select :request_course_time, [[30, 30],[60, 60]] %></dd>

                    <dt class="form-title">予約日付</dt>
                    <dd class="form-item"><%= f.date_field :reservation_date %></dd>

                    <dt class="form-title">施術開始時間</dt>
                    <dd class="form-item"><%#= f.time_field :start_time %>
                        <%= f.label "StartTime", class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-1" %>
                          <%= raw sprintf(f.datetime_select(
                                                        :start_time,
                                                        default: Time.zone.local(@today.year,@today.month,@today.day),
                                                                                # @selected_started_at.to_time.hour,@selected_started_at.to_time.min),
                                                        minute_step: 15,
                                                        start_hour:10,
                                                        end_hour:20,
                                                        start_year: Time.now.year,
                                                        end_year: Time.now.since(2.month).year,
                                                        use_month_numbers: true
                                                        # date_separator: '%s',
                                                        # time_separator: "%s",
                                                        # datetime_separator: '%s'
                                                        ), '年', '月', '日',"時") %>
                    </dd>
                    <dt class="form-title">要望</dt>
                    <dd class="form-item"><%= f.text_area :demand %></dd>

                    </dl>次の予約開始時間と開店日or閉店日 識別をhidden_fieldで送る。管理者ログイン時は、salesも選択できるようにする。
                    <%# restart_reservation_time = start_time + Rational(request_course_time,24*60) + Rational(30,24*60)%>
                    <%#= f.hidden_field :restart_reservation_time, value: true %><!-- 次の予約開始時間はコントローラーでぶちこむ -->
                    <%= f.hidden_field :sales, value: false %><!-- 管理者ログイン時は、trueにする。 -->
                    <%#= f.hidden_field :menu_id, value: false%>
                    <%= f.submit "女性として追加する" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>


<%= link_to "ここがnewへの入り口だよ", new_reservation_path, remote: true %>



<script type="text/javascript">
  window.onload = function(){
document.getElementById('firstBox').style.display = "";
document.getElementById('secondBox').style.display = "none";
}
 
function entryChange1(){
radio = document.getElementsByName('entryPlan') 
if(radio[0].checked) {

document.getElementById('firstBox').style.display = "";
document.getElementById('secondBox').style.display = "none";
}else if(radio[1].checked) {

document.getElementById('firstBox').style.display = "none";
document.getElementById('secondBox').style.display = "";
}
}
//オンロードさせ、リロード時に選択を保持
window.onload = entryChange1;

</script>



</div>
</div>

