<h2 class="bg_sunflower">予約状況・予約フォーム</h2>
<div class="container mb-5">  
  <div class="text-center my-5">
    <p class="mb-0">予約状況を確認することができます。</p>
    <p class="mb-5">また、カレンダーで日時を選択することで予約することができます。</p>
    <% if admin_signed_in? %>
      <div class="card border-light mx-auto">
        <strong class="card-header">
          今日の予約状況一覧
          <%= link_to "予約一覧を確認", all_reservations_index_path, class: "btn btn-info px-4 mx-3" if current_admin %>
        </strong>
        <div class="table-responsive">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">施術開始時間</th>
              <th scope="col">名前（カナ）</th>
              <th scope="col">電話番号</th>
              <th scope="col">メニュー名</th>
              <th scope="col">コース名</th>
              <th scope="col">所要時間（分）</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @reservations_today.each do |reservation| %>
            <tr>
              <td><%= reservation.start_time.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%= reservation.user_kana_name %></td>
              <td><%= reservation.user_phone_number %></td>
              <td><%= reservation.course.menu.menu_title %></td>
              <td><%= reservation.course.course_name %></td>
              <td><%= reservation.course.course_time %></td>
              <td>
                <%= link_to(edit_reservation_path(reservation), remote: true, class: "btn btn-lg btn-outline-info d-block d-md-inline-block rounded-circle px-2 py-1 mx-2") do %>
                  <i class="fas fa-pen"></i>
                <% end %>
                <%= link_to(reservation_path(reservation), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-lg btn-outline-dark d-block d-md-inline-block px-2 py-1 ml-auto") do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    <% end %>
    <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </div>
  <div class="d-flex mb-3">
    <div class="reservation_week_form">
      <%= render 'reservation_week' %>
    </div>
    
     <div class="input-group date d-inline col-1 my-auto text-center" id="datetimepicker" data-target-input="nearest">
      <input type="hidden" class="datetimepicker-input" data-target="#datetimepicker"/>
      <div class="input-group-append d-inline" data-target="#datetimepicker" data-toggle="datetimepicker">
        <button type="submit" class="ml-3 p-0 btn" id="callender"><i class="far fa-calendar-alt btn btn-secondary btn-lg"></i></button>
      </div>
    </div>
  </div>
  
  <div class="reservation_schedule_form table-responsive rounded rounded-lg">
    <div class="reservation_week_form_table">
      <%= render 'reservation_week_tabale_th' %>
    </div>
    <div class="reservation_week_form_table_body border-right-0 mb-5">
      <%= render 'reservation_week_tabale_body' %>
    </div>
  </div>
  <div id="new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <!-- ユーザー情報モーダル表示 -->
  <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<script>
$(function(){
  $('#datetimepicker').datetimepicker({
    format: 'L'
  });
  
   $('#datetimepicker').on('change.datetimepicker', function (e) {
       var date = String(e.date).split(" ")[3]+"-"+(new Date(e.date).getMonth() + 1)+"-"+String(e.date).split(" ")[2];
         $.ajax({
                url:'/change/schedule',
                type:'GET',
                data:{
                    'prev':date
                }
            });
    });
　$(window).on('load resize', function() {
    var outer_width = $(".reservation_week_form_table_body")[0].getBoundingClientRect().width;
  　var inner_width = $(".reservation_week_form_table_body table")[0].getBoundingClientRect().width;
    var scroll_width = outer_width - inner_width + "px";
    $(".reservation_week_form_table").css("padding-right",scroll_width);
  });
  
});    
    
</script>
