<h2 class="bg_sunflower">メニュー・コース一覧</h2>
<div class="container mb-5">  
  <div class="text-center my-5">
    <p class="mb-0">予約状況を確認することができます。</p>
    <p class="mb-5">また、カレンダーで日時を選択することで予約することができます。</p>
    <% if admin_signed_in? %>
      <div class="card border-light card-width mx-auto">
        <strong class="card-header">
          今日の予約状況一覧
        </strong>
        <% @reservations.each do |reservation| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex">
              <span class="mr-auto my-auto">
                <%= @reserv_info_from = l(reservation.start_time, format: :index) %>〜<%= @reserv_info_to = l(reservation.finish_time, format: :time) %>
              </span>
              <%= link_to(edit_reservation_path(reservation), remote: true, class: "btn btn-outline-primary d-block d-md-inline-block rounded-circle px-2 py-1 mx-2") do %>
                <i class="fas fa-pen"></i>
              <% end %>
               <%= link_to(reservation_path(reservation), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-outline-danger d-block d-md-inline-block px-2 py-1 ml-auto") do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            </li>
          </ul>
        <% end %>
      </div>
    <% end %>
    <div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  </div>
  <div class="d-flex mb-3">
    <div class="reservation_week_form">
      <%= render 'reservation_week' %>
    </div>
    
     <div class="input-group date d-inline col-1 my-auto text-center" id="datetimepicker" data-target-input="nearest">
      <input type="hidden" class="datetimepicker-input" data-target="#datetimepicker"/>
      <div class="input-group-append d-inline" data-target="#datetimepicker" data-toggle="datetimepicker">
        <button type="submit" class="ml-3" id="callender"><i class="far fa-calendar-alt btn btn-secondary"></i></button>
      </div>
    </div>
  </div>
  
  <div class="reservation_schedule_form table-responsive rounded rounded-lg">
    <div class="reservation_week_form_table">
      <%= render 'reservation_week_tabale_th' %>
    </div>
    <div class="reservation_week_form_table_body border-right-0 mb-5">
      <%= render 'reservation_week_tabale_body' %>
    </div>
  </div>
  <div id="new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>
<script>
$(function(){
  $('#datetimepicker').datetimepicker({
    format: 'L'
  });
  
   $('#datetimepicker').on('change.datetimepicker', function (e) {
       var date = String(e.date).split(" ")[3]+"-"+(new Date(e.date).getMonth() + 1)+"-"+String(e.date).split(" ")[2];
         $.ajax({
                url:'/change/schedule',
                type:'GET',
                data:{
                    'prev':date
                }
            });
    });
　var ua = navigator.userAgent.toLowerCase();
 
　isMac =　ua.indexOf('windows') > -1;
  if(isMac && window.matchMedia( "(min-device-width: 1025px)" ).matches) {
    $('.reservation_week_form_table').css('padding-right',"16.9px");
  }
  
  $('.reservation_week_form_table_body').scrollTop(570);
  
});    
    
</script>
