<h2 class="bg_sunflower">ログイン</h2>
<div class="registration-block">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="form form-group row my-5">
          <%= f.label :メールアドレス ,class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-sm-4 offset-1 offset-sm-0 col-10' %>
      </div>
    </div>
    <div class="field">
      <div class="form form form-group my-5">
          <%= f.label :パスワード, class: "label-login col-sm-2 lead text-center mr-4 text-sm-right offset-sm-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'col-sm-4 offset-1 offset-sm-0 col-10' %>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="form offset-sm-4 offset-1">
          <dl>
            <dd>
              <%= f.check_box :remember_me %><span class="ml-4">次回ログインからパスワードの入力を省略</span>
            </dd>
          </dl>
        </div>
      </div>
    <% end %>
    <div class="actions">
     <!--<p class="form-item"><a href="/admins/password/new"><%#= f.label :パスワードをお忘れの方はこちら %></a></p>-->
      <%= f.submit "ログイン", class: "btn btn-lg btn-info px-5 d-block mx-auto mb-5" %>
    </div>
  <% end %>
<%#= render "devise/shared/links" %>
</div>
